@import 'variables';

//lists
.fade-appear{
    transform: translateY($heroFadeOffset);
    opacity: 0;
  }
  .fade-appear.fade-appear-active{
    transform: translateY(0);
    opacity: 1;
    transition:  transform $heroFadeTimeout $heroFadeTimeout ease-out, opacity $heroFadeTimeout $heroFadeTimeout ease-out
  }
  .fade-enter-done{
    transform: translateY(0);
    opacity: 1
  }
//main photo
  .fadePhoto-appear{
    transform: $heroFadePhotoOffset;
    opacity: 0;
  }
  .fadePhoto-appear.fade-appear-active{
    transform: scale(1);
    transition:  transform $heroFadePhotoTimeout cubic-bezier(1,.05,.25,1),
  }
  .fadePhoto-enter-done{
    transform: scale(1);
    
  }

  .fadeup-enter{
    transform: translateY(-150%);
  
    
  }
  
  .fadeup-enter.fadeup-enter-active{
    transform: translateY(0);

    transition: transform 2500ms 750ms cubic-bezier(1,.05,.25,1);
  }
  
  .fadeup-exit{
    transform: translateY(0);
    
  }
  
  .fadeup-exit.fadeup-exit-active{
    transform: translateY(150%);
   
    transition: transform 2500ms 750ms cubic-bezier(1,.05,.25,1);
  }
  .fadeup-exit-done{
    transform: translateY(150%);
    
  }



//Router transition
.fadeSwitch-appear,
.fadeSwitch-enter{
  opacity: 0;
  z-index: 1;
 

}

.fadeSwitch-appear-active, .fadeSwitch-enter.fadeSwitch-enter-active{
  opacity: 1;
  z-index: 1;

  transition: opacity 2000ms  cubic-bezier(1,.05,.25,1);
}

.fadeSwitch-exit{
  opacity: 1;
  z-index: 10;

  
}

.fadeSwitch-exit.fadeSwitch-exit-active{
  opacity: 0;
  z-index: 10;
 
  transition: opacity 2000ms  cubic-bezier(1,.05,.25,1);
}
.fadeSwitch-exit-done{
  opacity: 0;

}