@import 'color';

@font-face {
    font-family: 'nunito-regular';
      src: url("../fonts/NunitoSans-Regular.ttf");
  }
  @font-face {
    font-family: 'nunito-bold';
      src: url("../fonts/NunitoSans-Bold.ttf");
  }
  @font-face {
    font-family: 'nunito-extraBold';
      src: url("../fonts/NunitoSans-ExtraBold.ttf");
  }
  @font-face {
    font-family: 'nunito-light';
      src: url("../fonts/NunitoSans-Light.ttf");
  }
  

$primaryFont: 'nunito-regular';
$primaryFont--bold: 'nunito-bold';
$primaryFont--extraBold: 'nunito-extraBold';

.header--hero{
    font-family: $primaryFont--extraBold;
    font-size:48px;
    color: $primaryColor;
    margin: 0;
}
.header--small{
    font-family: 'nunito-regular';
    font-size: 18px;
    color: $primaryColor;
    margin: 0;
}
.header--medium{
    font-family: 'nunito-bold';
    font-size: 20px;
    color: $primaryColor;
    margin: 0;
}
.header--main{
    @extend .header--hero;
   
    position: absolute;
    top: 25px;
    

}
.header--second{
    position: absolute;

    top: 90px;
    
    right: -200px;
    
    font-size: 28px;
    
    background-color: $primaryColor;
    
    color: $secondaryColor;
    
    padding: 2px 20px;
    
    font-family: 'nunito-bold';
}
.header--tag{
    font-family: 'nunito-bold';
    font-size: 22px;
    color: $secondaryColor;
    background-color: $primaryColor;
    padding: 1px 10px;
    margin: 15px 15px 0 0;
    
    
}
.header--list{
    font-size: 22px;
    margin-bottom:35px;
}
.paragraph--main{
    font-family: 'nunito-regular';
    font-size: 19px;
    color: $primaryColor;
}