$heroFadeOffset: -40px;
$heroFadeTimeout: 700ms;

$heroFadePhotoOffset: scale(1.1);
$heroFadePhotoTimeout: 1500ms;

$firstBreak: 1400px;
$secondBreak: 1100px;
$thirdBreak: 660px;
$portfolioBreak: 1725px;
$portfolioSecondBreak: 765px;
$portfolioThirdBreak: 530px;
$portfolioFinalBreak: 400px;