@import 'typography';
@import 'color';
@import 'variables';

@mixin transition($transition...) {
    -moz-transition:    $transition;
    -o-transition:      $transition;
    -webkit-transition: $transition;
    transition:         $transition;
}
*{
    -webkit-tap-highlight-color: rgba(255, 255, 255, 0) !important; 
    -webkit-focus-ring-color: rgba(255, 255, 255, 0) !important; 
    outline: none !important;
}
iframe {
    max-width: 100%;
}
body,html{
    max-width: 100%;
    margin: 0;
    padding: 0;
    background-color: $secondaryColor;
    overflow-x: hidden;
    box-sizing: border-box;
}
ul,li{
    margin: 0;
    padding: 0;
}
a{text-decoration: none; color:$primaryColor}
a:visited { text-decoration: none; color:$primaryColor; }
a:hover { text-decoration: none; color:$primaryColor; }
a:focus { text-decoration: none; color:$primaryColor; }
a:hover, a:active { text-decoration: none; color:$primaryColor }
.top{
    z-index: 15;
}
.hero{
    width: 100%;
    position: absolute;
    z-index:1;
    opacity: 1;
    top: 0px;
    @include transition(opacity 2000ms  cubic-bezier(1,.05,.25,1));
    
   
    &__main{
        width: 1280px;
    margin: 0 auto;
    position: relative;
    top:80px;
   
    }
    &__first{

            width: 100%;
            height: 100vh;
            transform: translateY($heroFadeOffset);
        opacity: 0;
        @include transition(transform 1s ease-out, opacity 1s ease-out);
    }
    &__photoContainer{
        width: 62%;
        position: absolute;
        @include transition(transform .8s ease-out, opacity .8s ease-out);
     
        
    }
    &__movieContainer{
        width: 62%;
        position: absolute;
        top: 175px;
        right: 150px;
        
    }
    &__movieFrame{
        @include transition(transform 1s ease-out);
    }
    &__movie{
        width: 125%;
        position: relative;
        left: -15%;
        z-index:2;
    }
    &__lists{
        position: absolute;
        z-index: 3;
        display: flex;
        top: 250px;
        left: -250px;
      
        @include transition(transform .8s ease-out, opacity .8s ease-out);
        
    }
    &__list{
        list-style-type: none;
        margin-left: 50px;
        
    }
    &__listItem{
        margin-bottom: 12px;
        font-family: 'nunito-regular';
    padding-left: 5px;
    font-size: 16px;
    }
    &__button{
        position: absolute;
        text-decoration: none;
    right: 250px;
    z-index: 3;
    bottom: -20px;
    padding: 12px 15px;
    border: 3px solid $primaryColor;
    cursor: pointer;
    transform: translateY($heroFadeOffset);
    opacity: 0;
    @include transition(transform 1s ease-out, opacity 1s ease-out);
        &:hover{
            background-color: $primaryColor;
            color: $secondaryColor;
        }
    }
    &__top{
        z-index:3;
    }
}



  
.second{
    width: 1090px;
    height: 70vh;
    

    margin: 100px auto 100px auto;
    &__main{
      
        width: 100%;
        display: flex;
        margin: 0 auto;     
    }
    &__header{
        margin: 0 0 52px -72px;
        font-size: 48px;
        
    }
    &__subheader{
        font-size: 28px;
        background-color: $primaryColor;       
        color: $secondaryColor;       
        padding: 2px 20px;
        font-family: 'nunito-bold';
        display: inline;
        margin: 0 0 52px 72px;
    }
    &__paragraphs{
        width: 70%;
        padding-left:50px;
        font-size: 16px;
        margin-top: 90px
    }
    &__paragraph{
        margin-bottom: 20px;
        
    }
    &__photoFrame{
        width: 60%;
        @include transition(transform .8s ease-out);
        margin-top: 100px;
    }
    &__photo{
        
        width: 100%
    }
    &__text{
        @include transition(transform .8s ease-out);
        width: 60%;
        right: 0;
        position: absolute
    }
}
.third{
    height: 70vh;
    &__container{
        width: 60%;
        margin: 0 auto;
        margin-top: 120px;
    }
    &__header{
        margin-bottom: 15px;
        
    }
    &__subheader{
        margin-bottom: 45px;
    }
    &__row{
        margin-top: 25px;
        display: flex;
        width: 100%;
        justify-content: space-between;
        margin-bottom: 40px;
        transform: translateY($heroFadeOffset);
        opacity: 0;
        @include transition(transform 1s ease-out, opacity 1s ease-out);
    }
    &__column{
        display: flex;
        flex-direction: column;
        width: 20%;
        align-items: center;
    }
    &__img{
        width: 100%;
        height: 90px;
    }
    &__listHeader{
        font-size: 20px;
        margin-bottom: 15px;
    }
}

.loader{
    position: fixed;
    top:0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: $secondaryColor;
    z-index: 5;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-items: center;
    opacity: 1;
    @include transition(opacity 1.2s ease-out);
    &__anim{
        margin-bottom: 25px;
        width: 90px;
        
    }
    &__logo{
        width: 50px;
        padding: 15px;
        transform: translateY(100%)
    
    }
}
.portfolio{
  position: absolute;
  top: 0;

   box-sizing: border-box;
   padding-top:70px;
   height: 100vh;
   
   transition: opacity 2000ms  cubic-bezier(1,.05,.25,1);
   z-index: 1;
   
    &__container{
        width: 85%;
        margin: 0 auto;
        display: flex;
        
        height: 100vh;
        
        
        
        
    }
    &__entry{
        width: 75%;
        display: flex;
        height: 85vh;
        justify-content: center;
        
    }
    &__photoContainer{
        height: 802px;

        width: 650px;
        
        overflow: hidden;
        position:relative;
        left: 0;
        @include transition(all 1s cubic-bezier(1,.05,.25,1));
    }
    &__photoFrame{
        height: 100%;
        width: 100%;
        position:absolute;
        top:0;
        
        @include transition(transform 2500ms 750ms cubic-bezier(1,.05,.25,1));
    }
    &__photoMasked{
        height: 100%;
        transform: scale(0.9);
        @include transition(transform 1000ms cubic-bezier(1,.05,.25,1));
    }
    &__photoLoader{
        position: absolute;
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        background-color:black;
        opacity: 1;
        @include transition(opacity 1000ms linear);
    }
    
    &__photo{

        height: 100%;
        @include transition(transform 1000ms cubic-bezier(1,.05,.25,1));
      
    }
    &__textContainer{
        width: 40%;
        display: flex;
        flex-direction: column;
        box-sizing: border-box;
        padding: 5px;
        
        
    }
    &__textFrame{
        opacity:0;
        transform: translateY(-40px);
        @include transition(transform 1s ease-out, opacity 1s ease-out);
        padding-bottom: 50px;
    }
    &__menu{
        width: 25%;
    }
    &__tags{
        margin-bottom: 25px;
    }
    &__paragraph{
        font-size: 15px;
        margin-bottom: 20px;
    }
    &__tag{
        display: inline-block;
    }
    &__buttonRow{
        margin-bottom: 25px;
        display: flex;
    }
    &__button{
        align-self: flex-end;
        padding: 7px 25px;
        margin: 5px 15px 0 0;
    border: 2px solid $primaryColor;
    cursor: pointer;
    display: inline;

  
        &:hover{
            background-color: $primaryColor;
            color: $secondaryColor;
        }
    }
    &__mobileDesc{
        position: absolute;

    width: 100%;
    height: 100%;
    opacity:0;
    text-align: center;
    transform: translateY(-40px);
    @include transition(transform 1s ease-out, opacity 1s ease-out);
   
    }
    &__mobileHeader{
        background-color: $primaryColor;
        color: $secondaryColor;
        font-size: 30px !important;
        padding: 2px 10px;
        position: absolute;
    
    }
    &__mobileArrow{
        position: absolute;
        top: 100px;
        z-index: 100;
        left: 45%;
        height: 40px;
        width: 40px;
        padding: 15px;
        margin: 0 auto;
        transform: 0;
        @include transition(transform 1000ms cubic-bezier(1,.05,.25,1));
    }
}
.portfolioMenu{
    padding-top:33px;
    width: 20%;
    height: 85vh;
    display: flex;
    flex-direction: column;
    &__list{
      list-style-type: none;
    }
    &__item{
        cursor:pointer;
        @include transition(background-color .2s ease-out, color .2s ease-out);
        &:hover{
            color: $primaryColor;
            background-color: $secondaryColor
        }
        margin: 0;
    }
    &__button{
        background: none;
        border: 0;
        cursor: pointer;
        &:hover{
            opacity: .8;
        }
        &--blocked{
            opacity: .5;
            cursor: initial;
        }
    }
    &__icon{
        width: 21px;
        padding: 13px;
    }
}
.activeMenuItem{
    color: $primaryColor;
    background-color: $secondaryColor
}
.menu{
    position: absolute;
    right: 150px;
    top: 30px;
    z-index: 150;
    &__list{

    }
    &__listItem{
        display: inline-block;
        margin-right: 8px;
        cursor:pointer;
        padding: 2px;
        &:hover{
            background-color: $primaryColor;
            color: $secondaryColor;
        }
    }
    &__separator{
        display: inline-block;
        margin-right: 8px;
        color: $primaryColor;
    }
    &__button{
        position: absolute;
        top: 0;
        right: 10px;
        display: none;
        cursor: pointer;
    }
    &__icon{
        width: 35px;
       
    }
    
}


.contact{
    height: 105vh;
    transition: opacity 2000ms  cubic-bezier(1,.05,.25,1);
    position: absolute;
    top: 0;
    width: 100%;
    display: flex;
    align-items: center;
    z-index: 1;
    background: $secondaryColor;
    &__container{
        width: 100%;
        text-align: center;
    }
    &__header{
        font-size: 36px;
        background-color: #FFFFFF;
        color: #0f0f0e;
        padding: 2px 20px;
        font-family: 'nunito-bold';
        display: inline;
    }
    &__subheader{
        padding-bottom: 10px;
        margin: 0;
    
    }
    &__description{
        font-family: 'nunito-regular';
        font-size: 20px;
        padding-left: 15px;
        :active{
            text-decoration: none;
        }
    }
    &__mail{
        transform: translateY($heroFadeOffset);
        opacity: 0;
        @include transition(transform 1s ease-out, opacity 1s ease-out);
    }
    &__social{
        transform: translateY($heroFadeOffset);
        opacity: 0;
        @include transition(transform 1s ease-out, opacity 1s ease-out);
        width: 100%;
        margin: 0 auto;
        display: flex;
        display: flex;
        justify-content: center;
        align-items: center;
        padding-top:40px;
        cursor: pointer;
    }
    &__icon{
        width: 80px;
    }
}
@media (max-width: $portfolioBreak) and (min-width: $firstBreak){
    .portfolio{
        &__photoContainer{
            height:750px;
            width: 608px;
        }
        &__textContainer{
            width: 45%
        }
        &__entry{
            width: 85%;
        }
        &__container{
            width: 95%;
        }
    }
    .portfolioMenu{
        width: 15%;
    }
}
@media (max-width: $firstBreak) {
    .hero {
    
     &__first{
         margin-bottom: 75px;
     }
     &__button{
         right: 75px;
     }
     &__photoContainer{
         position: initial;
         margin: 0 auto 45px auto;
         width: 80%;
         display: flex;
         flex-direction: column;
         
     }
     &__movieContainer{
         position: initial;
         width: 80%;
         margin: 0 auto;
     }
     &__lists{
         left: -20px;
         top: 450px;
     }
     &__movie{
         left: initial;
         width: 105%;
     }
    }
    .second{
        width: 85%;
        
        &__paragraphs{
            margin-top: 50px;
           
        }
        &__paragraph{
            font-size: 16px;
        }
        &__photoFrame{
            width: 70%;
        }
    }
    .header--main{
        position: initial;
        margin-bottom: 30px;
    }
    .header--second{
        position: initial;
        display: inline;
        margin-right: 45px;
        width: 200px;
        text-align: center;
        align-self: flex-end;

    }

    .menu{
        right: 75px;
    }
    .third{
        &__container{
            width: 80%;
        }
        margin-top: 75px;
    }
    .portfolio{
        margin-top: 20px;
        padding-top: 0;
        &__textContainer{
            width: 45%
        }
        &__entry{
            width: 100%;
            order: 2;
        }
        &__container{
            width: 95%;
            display: flex;
            flex-direction: column;
        }
    }
    .portfolioMenu{
        width: 100%;
      
        
        align-items: center;
        height: initial;
        order: 1;
        &__list{
            display: flex;
        }
       
    }
  }

  @media (max-width: $firstBreak) and (min-width: $secondBreak){
      .hero{
        &__main{
            width: 80%;
        }
      }
      .second{
        margin: 250px auto 250px auto;
      }
    .portfolio{
        
        &__photoContainer{
            height:700px;
            width: 567px;
        }
        &__paragraph{
            font-size: 15px;
        }
        &__header{
            font-size: 42px;
            margin-bottom: 8px;
        }
        &__tag{
            font-size: 20px;
        }
    }
    
}
@media (max-width: $firstBreak) and (min-width: $portfolioThirdBreak){
    .portfolioMenu{
        &__item{
            font-size: 20px;
            display: inline;
        }
    }
}

  @media (max-width: $secondBreak) {
      .hero{
          &__lists{
              top: 325px;
          }
          &__main{
              width: 95%;
          }
      }
      .second{
        &__paragraph{
            font-size: 15px;
        }
        &__paragraphs{
            width: 95%;
            padding-left: 0;
        }
        &__text{
            width: 75%;
        }
      
    }
    
    .third{
        &__img{
            height: 75px;
        }
        &__listHeader{
            font-size: 14px;
            margin-bottom: 16px;
        }
    }
    .portfolio{
        &__container{
            margin-top: 35px;
        }
        &__photoContainer{
            height: 500px;
            width: 405px;
        }
        &__textContainer{
            width: 40%;
        }
        &__container{
            width: 98%;
        }
        &__paragraph{
            font-size: 13px;
        }
        &__header{
            font-size: 36px;
            margin-bottom: 8px;
        }
        &__tag{
            font-size: 18px;
        }
        &__button{
            font-size: 17px;
            
        }
        &__button{
        
            padding: 5px 10px;
            display: initial;
        }
        &__buttonRow{
            box-sizing: border-box;
            width: 100%;
            text-align: left;
            
        }
    }
    
    .portfolioMenu{
        
        &__item{
            font-size: 18px;
        }
        &__icon{
            padding:4px;
            margin: 5px;
            width: 20px;
        }
    }
  }
  @media (max-width: $portfolioSecondBreak){
      .portfolio{
          height: initial;
          &__container{
              height: initial;
              margin-top: 0;
          }
          &__entry{
              display: initial;
              height: initial;
          }
          
          &__textContainer{
            width: 90%;
            margin: 0 auto;
          }
          &__photoContainer{
            margin: 0 auto;
          }
          &__buttonRow{
        
              margin-bottom: 5px;
              justify-content: center;
          }
          &__button{
              font-size: 14px;
          }
      }
      .portfolioMenu{
        position: absolute;
    }
      .portfolio{
        margin-top: 0;
        &__entry{
            margin-top: 175px;
        }
        &__mobileDesc{
            height: initial;
            box-sizing: border-box;
            padding-left: 20px;
            position: initial;
        }
        &__tags{
            margin-bottom: 10px;
        }
        &__tag{
            font-size: 15px;
        }
        &__header{
            font-size: 32px;
        }
       
    }
  }
  @media (max-width: $portfolioSecondBreak) and (min-width: $portfolioThirdBreak){
      .portfolio{
        &__photoContainer{
        
            height: 620px;
            width: 502px;
        }
        &__textContainer{
            width: 75%;
        }
      }
      .contact{
          &__header{
              font-size: 28px;
          }
      }
  }
  @media (max-width: $portfolioThirdBreak) and (min-width: $portfolioFinalBreak){
    .portfolio{
        &__photoContainer{
            margin: 0 auto;
            height: 475px;
            width: 385px;
        }
    }
}
  @media (max-width: $thirdBreak) {
      .big-paragraph{
          font-size: 14px;
      }

    .hero{
        margin: 40px 0 0 0;

        &__first{
            margin: 60px 0 0 0;
            height: 85vh;
            display: block;
            
        }
       
    
        &__main{
            width: 100%;
            top: 0;
            position: initial;
        }
       &__photoContainer{
           margin: 0 auto 16px auto;
       }
       &__movieContainer{
           width: 100%;
           margin: 0;
           position: relative;
           top: initial;
           right: initial;
       }
       &__lists{
           top: 60px;
           left: 0;
       }
       &__list{
           margin-left: 15px;
       }
       &__listItem{
           font-size: 14px;
           margin-bottom: 8px;
       }
       &__button{
           padding: 7px 12px;
           font-size: 14px;
           border: 1px solid white;
           bottom: -75px;
           right: 20px;
           font-family: 'nunito-bold'
       }
    }
    .second{
        display: block;
        height: initial;
        margin: 0 auto;
        margin-bottom: 10px;
        &__main{
            display: block;
       
        }
        &__paragraph{
            font-size: 14px;
        }
       
        &__paragraphs{
            padding-left: 16px;
        }
        &__text{
            width: 95%;
            padding-right: 8px;
            position: relative;
        }
        &__photoFrame{
            width: 90%;
            position: absolute;
            left: 20px;
        }
        &__header{
            font-size: 36px;
            margin-bottom: 12px;
            padding-left: 75px;
        }
        &__subheader{
            font-size: 23px;
            margin: 0;
            padding: 2px 8px;
        }
      
    }
    .third{
        display: block;
            height: initial;
            &__container{
                margin: 0 auto;
            }
        &__subheader{
            font-size: 14px;
        }
        &__img{
            height: 50px;
        }
        &__column{
            width: 30%;
            margin-bottom: 15px;
        }
        &__row{
            flex-wrap: wrap;
            justify-content: center;
        }
    }
  
    .header--main{
        font-size: 36px;
        margin-bottom: 12px;
    }
    .header--second{
        font-size: 20px;
        margin: 0;
        padding: 2px 8px;
        width: 150px;
    }
    .header--list{
        font-size: 18px;
        margin-bottom: 12px;
    }
    .menu{
        right: 10px;
        &__button{
            display: initial;
        }
        &__list{
            margin-right: 50px;
            transform: translateX(150%);
            @include transition(transform 0.8s ease-out);
            background: black;
            
        }
        &--visible{
            transform: translateX(0);
        }
    }
   
   
    @media(max-width: $portfolioThirdBreak){
      
        .portfolioMenu{
            &__item{
                font-size: 13px;
                display: inline;
            }
        }
        .contact{
            &__header{
                font-size: 19px;
            }
            &__subheader{
                font-size: 17px;
            }
            &__social{
                padding-top: 18px;
            }
            &__icon{
               width: 40px;
            }&__description{
                font-size: 16px;
            }
        }
        
      
    }
    @media(max-width: $portfolioFinalBreak){
        .portfolio{
            &__photoContainer{
                margin: 0 auto;
                height: 413px;
                width: 335px;
            }
        }
    }
}

@import 'csstransition';
